<!-- views/partials/_headers.ejs -->
<% if(user_id === undefined || user_id === null){%>
  <span>
<br>
<form action="/login" method="POST" style="display:inline;">
  <input type="submit" value="Login">
</form>
<form action="/register" method="POST" style="display:inline;">
  <input type="submit" value="Register">
</form>
<br>
</span>
  <%}else{%>
    <br>
    <form method="POST" action=/logout>
      <button class="button "><span>Logout </span></button>
    </form> <b><%=user_id + ' has been logged in!'%></b>
    <%};%>