<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<body>
  <header>
    <%- include('partials/_header') %>
  </header>
  <main>
    <div>
      <h1>The URL's and thier short forms</h1>
      <ul>
        <% for(x in urls){%>
          <li>
            <%= `${x} ${urls[x]}` %>
          </li>
          <br>
          <form method="POST" action=<%='/urls/' + x + '/delete'%>>
            <button class="button " style="vertical-align:middle "><span>Delete </span></button>
          </form>
          <br>
          <form method="POST" action=<%='/urls/' + x%>>
            <button class="button " style=display:inline><span>Update </span></button>
          </form>
          <br>
          <%};%>
      </ul>
    </div>
  </main>
  <!-- Add your EJS code here -->
</body>

</html>