<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<body>
  <header>
  </header>
  <main>
    <div>
      <%- include('partials/_header') %>
        <h1>Single URL from ID from TOP</h1>
    </div>
  </main>
</body>

</html>